# Virtual environment
bin/
lib/
lib64
share/
pyvenv.cfg
include/

# Piper binary and models
piper/

# Vosk models and archives
vosk-model/
vosk-model-small-en-us-0.15.zip

# Temp files
*.wav
__pycache__/
*.pyc
*#*
